<section class="contact">
    <h1 class="heading"> Contact <span>Me</span> </h1>
    <div class="row">
        <div class="info-container">
            <h1>Let's Connect</h1>
            <p>Excited to connect with you! Hello in advance.</p>
            <div class="share">
                <a href="https://www.facebook.com/trishank.singhmahur" class="fab fa-facebook-f" target="_blank" rel="noopener noreferrer"></a>
                <a href="#" class="fab fa-github" target="_blank" rel="noopener noreferrer"></a>
                <!-- <a href="https://github.com/tsmahur" class="fab fa-github"></a> -->
                <a href="https://www.instagram.com/tsmahur/" class="fab fa-instagram" target="_blank" rel="noopener noreferrer"></a>
                <a href="https://www.linkedin.com/in/tsmahur/" class="fab fa-linkedin" target="_blank" rel="noopener noreferrer"></a>
                <!-- <i class="fa-solid fa-camera fa-10x"></i> -->
            </div>
        </div>
    </div>
</section>