<!-- navbar -->
<nav class="navbar">
    <!-- <a href="/home"> <i class="fas fa-home"></i> <span>Home</span> </a>
    <a href="/about"> <i class="fas fa-user"></i> <span>About</span> </a>
    <a href="/contact"> <i class="fas fa-address-book"></i> <span>Contact</span> </a> -->

    <!-- <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"> <i class="fas fa-home"></i> <span>Home</span> </a> -->

    <a routerLink="/home"> <i class="fas fa-home"></i> <span>Home</span> </a>
    <a routerLink="/about"> <i class="fas fa-user"></i> <span>About</span> </a>
    <a routerLink="/contact"> <i class="fas fa-address-book"></i> <span>Contact</span> </a>
</nav>