<!-- home section -->
<section class="home">

    <div class="image">
        <!-- <img class="flip" src="./assets/images/trishankSinghMahur.jpg" alt="Trishank Singh Mahur" title="Trishank Singh Mahur" onContextMenu="return false;" nosave> -->
        <img class="flip" [src]="src" alt="Trishank Singh Mahur" title="Trishank Singh Mahur" onContextMenu="return false;" nosave>
        <!-- <img src="images/me.jpg" alt=""> -->
    </div>

    <div class="content">
        <!-- <div class="dark-mode-toggle">Light Mode </div> -->
        <h3>Namaste,</h3>
        <h3 class="typing">I am Trishank Singh Mahur</h3>
        <!-- <span>Full-Stack developer</span> -->
        <div class="scroll-box">
            <ul>
              <li><span>Full-Stack developer</span></li>
              <li><span>Traveller</span></li>
              <li><span>Full-Stack developer</span></li>
            </ul>  
          </div>

        <!-- paragrapgh wrap enable-->
        <p>I am person with a passion to learn and gain knowledge for new technologies.
            Experienced in Web design and development in both frontend and backend technologies.
            <br>
            Yes, I do hike and trek as well, I like exploring the nature. 
            Recently completed a 4-day 12,500ft Summit  @ -13&#176;C
        </p>
        <a href="/about"class="btn"> About Me <i class="fas fa-user"></i> </a>
        &nbsp;
        <a href="/travel"class="btn"> Travel Gallery <i class="fas fa-fighter-jet"></i> </a>
    </div>

</section>