.media-thumbnail{
    /* width: 100%;
    height: auto; */
    width: 200px;
    height: 200px;
    /* background: #fff; */
    /* border: 1px solid #dfdfdf; */
    /* margin-top: 40px; */
    padding: 0px 0px 10px 10px;
    position: relative;
    cursor: pointer;
}
.media-image{
    width: 100%;
    height: 100%;
    /* width: 200px; */
    /* height: 200px; */
    object-fit: cover;
}
.media-thumbnail:hover{
    opacity: 0.5;
    transform: scale(0.98);
    transition: 0.25s ease;
}
/* for this to work make media-thumbnail as position: relative */
.media-type-logo{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    padding: 5px;
}
.media-type-logo > svg{
    fill: var(--base-theme-color);
}

@media only screen and (max-width: 700px) {
    .media-thumbnail {
        width: 80px;
        height: 80px;
    }
  }